body{
    font-family: 'Montserrat', sans-serif;
}
a{
    color:black;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.banner-right-image img{
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 80px 0px;
}
.banner-left-design div:first-child{
    position: absolute;
    top: 30%;
}

.head-tittle h1{
    font-size: 72px;
    margin-bottom: 0px;
}
.head-tittle h1::after{
    content: '!';
    font-size: 150px;
    position: relative;
    top: 40px;
    display: inline-block;
    line-height: 0;
}
.head-tittle p
{
    font-size: 42px;
    line-height: 15px;
}

.license p{
    font-size: 28px;
}

strong{
    font-weight: 900;
}
.tagline p{
    font-size: 22px;
    line-height: normal;
}
.bg-green{
    background-color: #2CDD9B;
}
#courses,#latest-blog,#testimonial,#results,#quote{
    padding:60px 0px;
}
#blog,#contact-us,#about{
    padding:150px 0px;
}
#blog .card .bottom {
    border-top: 1px solid rgba(0,0,0,.125);
}
#blog .card .bottom .time, #blog .card .bottom .comments{
    font-size: 12px;
}
.heading{
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    font-weight: 700;
    left: 50%;
    transform:translateX(-50%);
}
.heading span{
    position: absolute;
    right: -8px;
    color: #6eeab8;
    z-index: -1;
}
.navbar-brand img{
    height:40px;
}
.courses-card .d-flex{
    border: 1px solid gainsboro;
    border-style: dashed;

}
.courses-card img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #4687FE;
    border-radius: 100%;
    padding: 10px;
}
.courses-card-image{
    width: 100px; 
    height: 100px;
    border-radius: 100%;
    
}
.courses-card h5{
    font-weight: bold;
    margin:5px 0px;
    text-align: center;
}
.courses-card p{
    font-weight: bold;
    margin:5px 0px;
    text-align: center;
    font-size: 14px;
}
.btn-green{
    background: #2CDD9B;
    color: white !important;
    font-weight: bold;
}
.color-green{
    color: #2CDD9B;
}
#latest-blog .nav .nav-item:first-child .nav-link{
    background: #2CDD9B;
    color: white !important;
    font-weight: bold;

}
#latest-blog .nav .nav-item .nav-link{
    color:black !important;    
    font-weight: bold;
}
#latest-blog .nav .nav-item .active{
    color:white !important;
}
#latest-blog .nav .nav-item:first-child .nav-link:hover{
    border-color:transparent;
}
#latest-blog .nav-tabs{
    border-bottom-color: #2CDD9B;
    border-bottom-width: 3px;
}
#latest-blog .nav .nav-item .active{
    background: #2CDD9B;
    border-color: transparent;
}
#latest-blog .post-meta{
    color: gainsboro;
    font-weight: bold;
}
.small-post h5{
    font-size: 1.15rem;
}
.small-post .post-img img{
    height:160px !important;
    object-fit: cover;
    border-radius:5px;
}
#testimonial .banner{
    background-image: url('../images/test.svg');
    background-size: cover;
    width: 100%;
    height: 500px;
    background-position-x: center;
    background-position-y: center;
}
#testimonial .rounded{
    border-radius: 100% !important;
}

.star-yellow{
    color: #F7B003;
}
.owl-prev {
    width: 15px;
    /* height: 100px; */
    position: absolute;
    top: 40%;
    left: -80px;
    display: block !important;
    border:0px solid black;
    transition: left ease-out 200ms;
}

.owl-next {
    width: 15px;
    /* height: 100px; */
    position: absolute;
    top: 40%;
    right: -65px;
    display: block !important;
    border:0px solid black;
    transition: right ease-out 200ms;
}
.owl-prev:hover{
    left: -85px;
}
.owl-next:hover{
    right: -70px;
}
.owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}
.left-testimonial-arrow::after{
    content: url('../images/left-arrow.svg');
}
.right-testimonial-arrow::after{
    content: url('../images/right-arrow.svg');
}
.left-blog-arrow::after{
    content: url('../images/blog-left-arrow.svg');
    position: absolute;
    left: 15px;
}
.right-blog-arrow::after{
    content: url('../images/blog-right-arrow.svg');
    position: absolute;
    right: 0px;
}
.owl-results .owl-item .item{
    padding:35px;
}
.owl-results .owl-item img{
    transition: 0.45s;
}
.owl-results .owl-item.active.center img {

    transform: scale(1.1, 1.2);
}
.owl-results .owl-nav{
    display: inline !important;
}

#quote h5{
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}

#quote .item{
    position: relative;

}
#quote .item::before{
    content: '';
    background: url('../images/quote-left.svg');
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -60px;
    left: -100px;
}
#quote .item::after{
    content: '';
    background: url('../images/quote-right.svg');
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    bottom: -100px;
    right: -100px;
    width: 100px;
    height: 100px;
}

#quote .item{
    display: none;
}
#quote .item.active{
    display: block;
}
footer{
    padding-top:120px;
    position: relative;
}

fa-facebook-f{
    color: #444444;
}
.facebook{
    cursor: pointer;
    display: inline-block;
    background: url(../images/facebook.png);
    background-size: contain;
    width:50px;
    height:50px;
    transition: background-position-y ease-out 200ms;
}
.facebook:hover,.instagram:hover,.whatsapp:hover{
    background-position-y: -1px;
}
.instagram{
    cursor: pointer;

    display: inline-block;
    background: url(../images/Instagram.png);
    background-size: contain;
    width:50px;
    height:50px;
    transition: background-position-y ease-out 200ms;
}
.whatsapp{
    cursor: pointer;
    display: inline-block;
    background: url(../images/Whatsapp.png);
    background-size: contain;
    width:50px;
    height:50px;
    transition: background-position-y ease-out 200ms;
}
footer dl dt{
    font-size: 20px;
    margin-bottom: 20px;
}
footer dl > dd{
    color: grey;
}
.credits p{
    font-size: 15px;
    color: grey;
    font-weight: bold;
}
.footer-nav .navbar-brand img{
    height: 50px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #2CDD9B;
}
.post-description{
    font-family: 'Open Sans', sans-serif;
}
.speaking-tasks .card{
    transition: box-shadow ease-in 500ms;
}
.speaking-tasks .card:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.owl-carousel .owl-stage-outer {
    height: calc(100% + 30px);
    margin: -15px;
    padding: 15px;
    width: calc(100% + 30px);
}
.navbar-toggler-icon{
    background-image: url(../images/menu.svg);
}
/*Offcanvas Menu*/
.offcanvas-header{ display:none; }
.screen-overlay {
  height: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  opacity:0;
  visibility:hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition:opacity .2s linear, visibility .1s, width 1s ease-in;
}
.screen-overlay.show {
  transition:opacity .5s ease, width 0s;
  opacity:1;
  width:100%;
  visibility:visible;
}
	
@media all and (max-width:992px) { 

 .offcanvas-header{ display:block; }
 
 .mobile-offcanvas{
    visibility: hidden;
    transform:translateX(200%);
    border-radius:0; 
    display:block;
    position: fixed;
    top: 0; right:0;
    height: 100%;
    z-index: 1200;
    width:80%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: visibility .2s ease-in-out, transform .2s ease-in-out;
    background-color: #2CDD9B;
  }

  .mobile-offcanvas.show{
    visibility: visible;
    transform: translateX(0);
  }
}












/*Rajat's Styles*/
.contact-form .form-control{
/*    border-image-source:     linear-gradient(90deg, rgba(44,221,155,1) 0%, rgba(0,116,123,1) 100%);
      border-width: 5pt;
      border-image-slice: 1;
*/    background-color: #e0e0e0;
    border:2px solid #2CDD9B;

}
.contact-form label{
    font-weight:bold;
}
.contact-form button{
    display: block;
    margin:auto;
}
.get-touch h1{
    
    text-align: center;
font-weight: bold;
font-size: 50px;
padding: 10px 0px 10px 0px;
padding: 40px;
}

.get-touch p{
    text-align: center;
    font-weight: bold;
    padding: 0px 40px 0px 40px;
}
.get-touch-img {
    text-align: center;
    padding: 40px 0px 40px 0px;

} 
.get-touch-img img{
    height: 60px;
} 

#about h1{
font-weight: bold;
font-size: 90px;

}

#about p {
    font-size: 30px;
    font-weight: bold
}

.team p{
    text-align: center;
    font-weight: bold;
    padding: 0px 40px 0px 40px;
}

.team-img {
    text-align: center;
    /*padding: 40px 0px 40px 0px;*/

} 
.team-img img{
    height: 60px;
} 
.member-1{
    position: relative;
}
.left-member-banner{
    position: absolute;
    background: url('../images/team-banner.svg');
    background-size: contain;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
}
.right-member-banner{
position: absolute;
background: url('../images/team-banner-right.svg');
    background-position-x: 0%;
    background-repeat: repeat;
    background-size: auto;
background-size: contain;
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-position-x: right;
}
.member-1 img{
    height: 300px;
    width: auto;
    -webkit-box-shadow: -38px 38px 15px -15px rgba(171,171,171,1);
    -moz-box-shadow: -38px 38px 15px -15px rgba(171,171,171,1);
    box-shadow: -38px 38px 3px 0px rgb(171, 171, 171);
    border-radius: 10px;

}

.member-2 img{
    height: 300px;
    width: auto;
    -webkit-box-shadow: -38px 38px 15px -15px rgba(171,171,171,1);
    -moz-box-shadow: -38px 38px 15px -15px rgba(171,171,171,1);
    box-shadow: 40px 30px 3px 0px rgb(171, 171, 171);
    border-radius: 10px;
}
.banner-background{
    background-image:url('../images/banner.svg'); background-size: cover;width: 100%;height: 100%;background-repeat: no-repeat;
}
.second-banner{
    background-image:url('../images/banner-2.svg'); background-size: cover;width: 100%;min-height: 800px;background-repeat: no-repeat;position: absolute;z-index: -1;
}
#team hr{
    display: none;
}
/*Mobile view css*/
@media only screen and (max-width: 767px) {
    #team hr{
        display: block;
        border: 2px solid #2CDD9B;
        border-radius: 10px;    
    }
     #latest-blog .nav .nav-item:first-child{
        width:100%;
        text-align: center;
     }
    #latest-blog .nav .nav-item:not(:first-child){
        width:50%;
        
    }
    .nav-tabs .nav-link{
        border-bottom-right-radius: .25rem;
        border-bottom-left-radius: ..25rem;
    }
    #latest-blog .nav-tabs{
        border-bottom-color: transparent;
    }
    #myTabContent .post-title h5{
        font-size:16px;
        margin:0px;
    }
    #myTabContent .post-meta span{
        font-size: 14px;
    }
    #myTabContent .post-img img{
        height:220px !important;
        width: 100%;
    }    
    #testimonial .img img{
        height: 100px;
    }
 #testimonial .review p{
 font-size: 14px;
 }   

 #testimonial .review h5{
 font-size: 18px;
 }   
 #testimonial .owl-carousel .owl-nav button.owl-next,#testimonial .owl-carousel .owl-nav button.owl-prev,#testimonial .owl-carousel button.owl-dot{
    display : none !important;
 }
 #results .owl-carousel .owl-nav button.owl-next,#testimonial .owl-carousel .owl-nav button.owl-prev,#testimonial .owl-carousel button.owl-dot{
    display: none !important;
 }
 #quote .item h5{
    font-size: 14px;
    text-align: center;

 }
 .owl-results .owl-item .item{
    padding:10px;
 }
 #quote .item{
    padding:10px;
 }
#quote .item::after,#quote .item::before{
    width:40px;
}
#quote .item::after{
    right:10px;
    bottom:-90px;
}
#quote .item::before{
    left:10px;
    top:-30px;
}
.banner-background{
    background-image:url('../images/banner-mb.svg'); 
    background-position-x:center; 
}
.head-tittle h1::after {
    content: '!';
    font-size: 70px;
    top: 23px;
}
.head-tittle h1 {
    font-size: 35px;
    }



.head-tittle p {
    font-size: 20px;
    line-height: 25px;
    
}

.license p {
    font-size: 16px;

}
.tagline p {
    font-size: 14px;
    line-height: normal;
}

.head-tittle{
position: relative;
top: 80px;
}
.heading{
    font-size: 25px;
}

.heading span {
    
    right: -3px;

}

.credits p {
    font-size: 12px;
    text-align: center;
    }

footer dl dt {
    font-size: 16px;

}    

footer dl > dd {
   font-size: 14px;
}
footer {
    padding-top: 70px;
}
.footer-navbar{
    margin-left: 0px !important;
}
.get-touch-img img {
    height: 50px;
}

.get-touch p {
    font-size: 14px;
}
.get-touch h1 {

    font-size: 30px;
    }
#courses, #latest-blog, #testimonial, #results, #quote{
    padding:20px 0px;
}
 #contact-us,#blog{
    padding: 70px 0px;
 } 
 .p-5 {
    padding: 2rem !important;
} 
.contact-banner img{
    height: 300px;
} 

.contact-heading{
  margin-top: 40px;
} 

#about h1 {
    font-size: 30px;
}
#about p {
    font-size: 16px;
}
.left-member-banner{
    visibility: hidden;
}
.member-1 {
    text-align: center;
    padding: 40px 0px 40px 0px;
}

.member-1 img{
    height: 150px;
}
.team{
    margin-top: 50px;
}
.team p {
   font-size: 14px;
padding: 10px 0px 10px 0px;
}

.team h1 {
font-size: 30px;
font-weight: bold;
}
.team-img img {
    height: 50px;
}
.right-member-banner{
    visibility: hidden;
}
.member-2 img{
    height: 200px;
    box-shadow: 20px 20px 3px 0px rgb(171, 171, 171);

}
.member-2 {
    text-align: center;
    padding: 40px 0px 40px 0px;
}
.left-member-banner:after{
    
  border-top: 1px solid red;

}
.head-titlle h4{
    font-size: 18px;
}
#blog .post-img img{
    height:180px;
}
.banner-right-image img {
    width: 70%;
}
.second-banner{
    min-height: 350px; 
}

}